<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TEAMKEAM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>INIT_PARAM</param-name>
    <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/02ImplicitObject/10.Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/02ImplicitObject/10.Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/02ImplicitObject/10.Exception.jsp</location>
  </error-page>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
    <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@14.42.124.21:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OracleId</param-name>
    <param-value>C##KEAM</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout> <!-- 세션 유지시간을 30분으로 설정 -->
  </session-config>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/12Servlet/HelloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DirectServletPrint</servlet-name>
    <servlet-class>servlet.DirectServletPrint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectServletPrint</servlet-name>
    <url-pattern>/12Servlet/DirectServletPrint.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberAuth</servlet-name>
	<servlet-class>servlet.MemberAuth</servlet-class>
    <init-param>
      <param-name>admin_id</param-name>
      <param-value>admin3@naver.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAuth</servlet-name>
    <url-pattern>/12Servlet/MemberAuth.mvc</url-pattern> 
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileEditController</display-name>
    <servlet-name>ProfileEditController</servlet-name>
    <servlet-class>member.ProfileEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileEditController</servlet-name>
    <url-pattern>/ProfileEditController</url-pattern>
  </servlet-mapping>
  
<!--   이진규 서블릿 -->
   <servlet>
   <servlet-name>BoardList</servlet-name>
      <servlet-class>seoulmate.board.UserListController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>BoardList</servlet-name>
      <url-pattern>/userlist.do</url-pattern>
   </servlet-mapping>
     <servlet>
      <servlet-name>BoardWrite</servlet-name>
      <servlet-class>seoulmate.board.WriteController</servlet-class>
      <multipart-config>
         <max-file-size>5242880</max-file-size>
         <max-request-size>10485760</max-request-size>
      </multipart-config>
   </servlet>
   <servlet-mapping>
      <servlet-name>BoardWrite</servlet-name>
      <url-pattern>/write.do</url-pattern>
   </servlet-mapping>

<!-- 추가 서블릿 -->
  <servlet>
   <servlet-name>FesBoardList</servlet-name>
      <servlet-class>seoulmate.board.FesListController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>FesBoardList</servlet-name>
      <url-pattern>/feslist.do</url-pattern>
   </servlet-mapping> 
     <servlet>
      <servlet-name>FesBoardWrite</servlet-name>
      <servlet-class>seoulmate.board.FesWriteController</servlet-class>
      <multipart-config>
         <max-file-size>5242880</max-file-size>
         <max-request-size>10485760</max-request-size>
      </multipart-config>
   </servlet>
   <servlet-mapping>
      <servlet-name>FesBoardWrite</servlet-name>
      <url-pattern>/feswrite.do</url-pattern>
   </servlet-mapping>
</web-app>